<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PGP Decrypt Server</title>
    </head>
	<body>
        <form action="/auth_login" method="POST">
            <h2>Welcome to PGP Decrypt Server</h2>
            <h2>Please log in</h2>
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit">Login</button>
        </form>
    </body>
</html>